<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>404</title>
</head>
<body>
    <div class="container">

        <h1 class="displat-4">Erro 404</h1>
        <hr />

        <p class="text-danger">Essa página não existe, volte para a página inicial</p>

        <a href="/">Voltar</a>
    </div>
    
</body>
</html>