section h1{
    font-size: 48px;
    text-align: center;
}
div.principal{
    width: 100%;
    text-align: center;

}
div.endereço{
    display: inline-block;
    width: 30%;
    height: 115px;
}
div.endereço h3{
    font-weight: bold;
    font-size: 24;
}
div.endereço p{
    font-size: 18;
}